@font-face {
    font-family: "Creativa-Bold";
    src: url('src/fonts/Creativa-Bold.ttf') format('truetype');
}
@font-face {
    font-family: "Creativa";
    src: url('src/fonts/Creativa-Regular.ttf') format('truetype');
}

body {
    background-image: url("src/images/background.jpeg");
    background-color: #cccccc;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height:100vh;
    overflow: hidden;
}
.font-bold{
    font-family: 'Creativa-Bold';
}
*{
    font-family: "Creativa";
    text-align: center;
    font-weight: 400;
}
.logo{
    position: absolute;
    top: 40px;
    left: 40px;
    width: 142px;
    height: auto;
}
.main-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    min-width: 40%;
    width: 400px;
    height: fit-content;
    gap: 20px;
    margin-bottom: 150px;
    position: absolute;
    z-index: 9999
}
.main-container button{
    width: 225px;
    background-color: #E45F5F;
    height: 50px;
    border: 1px solid white;
    border-radius: 50px;
    font-size: 1.2rem !important;
}
.paraguas{
    position:absolute;
    bottom: -25%;
    width: 700px;
    height: auto;
    transition: all ease 2s;
}
.paraguas2{
    transform: translateX(50vw) translateY(-50vh)  scale(0.6) rotate(-25deg);
}
.paraguas3{
    transform: translateY(-890px) translateX(20vw) scale(1) rotate(210deg);
}
@media(max-height: 755px) {
    .paraguas{
        bottom: -37% !important;
    }
}
@media (max-width: 767.98px) {
    .paraguas {
        width: 400px; 
        bottom: -15%;
    }
    .paraguas3{
        transform: translateY(-860px) translateX(20vw) scale(1) rotate(210deg);
    }
    #result-container{
        max-height: 80vh;
        overflow-y: auto;
        align-items: start;
        justify-content: start;
    }
    #result-container h1{
        position:static !important;
        bottom: 100%;
        color:#3159CF !important;
        font-family: "Creativa-Bold";
        z-index: 99;
    }
    .logo{
        width: 100px;
        height: auto;
    }

    #result-container a{
        position: static !important;
        color: black !important;
    }
    #result-container button{
        position: static !important;
    }
    #mail-container div{
        position: static !important;
        width: 100%;
        display: flex;
        justify-content: start;
        margin-top:0 !important;
    }
}

#test-container{
    display: none;
    width: 70%;
    background-color: white;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
    max-height: 70vh;
    overflow-y:auto;
}

#question{
    font-size: 1.6rem !important;
    text-align: center;
    width: 100%;
    font-family: "Creativa";
    color: rgb(17, 17, 122)
}
.img-fluid{
    max-height: 20vh;
    cursor: pointer;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

#result-container, #mail-container{
    position: relative;
    max-width: 90vw;
    min-width: 50vw;
    width: 700px;
    background-color: white;
    display:none;
    display: column;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 40px;
}
#result-container p{
    margin: 0;
    color: rgb(17, 17, 122) !important;

}
#result-container h1{
    position: absolute;
    bottom: 100%;
    color: white;
    font-family: "Creativa-Bold";
    z-index: 99;
}
#result-container img{
    width: 150px;
}
#result-container button {
    background-color: #E45F5F;
    border: 2px solid white;
    border-radius: 50px;
    color: white;
    padding: 15px 30px;
    min-height: fit-content;
    position: absolute;
    top: calc(100% - 25px);
}
#result{
    background-color: #E45F5F;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    padding: 20px !important;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#result-container a{
    font-size: 0.9rem;
    color:black;
    position: absolute;
    top: 120%;
}
.float-logo{
    position: absolute;
    margin: 1vw;
    opacity: 0.6;
    width: calc(50vw - 400px) !important;
}
.float-logo-1{
    left: 100%;
}
.float-logo-2{
    right: 100%;
}

#mail-container form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 30px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
#mail-container form button{
    border-radius: 30px;
    height: 50px;
    background-color: #E45F5F;
    border: 2px solid white;
    color: white;
    position: absolute;
    width: 200px;
    top: calc(100% - 25px);
    left: calc(50% - 100px);
}
#mail-container form input{
    border-radius: 30px;
    border: 1px solid black;
    height: 40px;
    width: 320px;
    max-width: 95%;
}
#mail-container div{
    position: absolute;
    left: 0;
    top: 00px;
    margin: 25px 25px;
    cursor: pointer;
    height: fit-content;
}
#mail-container div svg{
    width: 50px;
    height: 50px;
    fill: rgba(0, 0, 0, 0.442)
}


#loading-result{
    max-width: 90vw;
    min-width: 50vw;
    width: 700px;
    height: 65vh;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    display: none;
    flex-direction: column;
    padding: 20vh 30px;
    gap: 10px;
    position: relative;
    font-family: "Creativa";
}
#loading-result img{
    position: absolute;
    bottom: 0;
    right: calc(50% - 100px);
    margin: 20px;
    width: 160px;
}


/* HTML: <div class="loader"></div> */
.loader {
    width: 50px;
    aspect-ratio: 1;
    --_c:no-repeat radial-gradient(farthest-side,#E45F5F 92%,#0000);
    background: 
      var(--_c) top,
      var(--_c) left,
      var(--_c) right,
      var(--_c) bottom;
    background-size: 12px 12px;
    animation: l7 1s infinite;
  }
  @keyframes l7 {to{transform: rotate(.5turn)}}